# Configuration de la base de données
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=zak
DB_PORT=3306

# Configuration du serveur
PORT=3000
NODE_ENV=development

# JWT Secret (Changez cette valeur par une valeur aléatoire sécurisée)
JWT_SECRET=votre_secret_jwt_tres_securise_a_changer

# Session expiration (en heures)
SESSION_EXPIRATION=24
